* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

svg {
    margin: 35px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.685);
    padding-top: 70px;
}

span {
    color: hsla(0, 36%, 70%, 0.932);
    display: block;
    font-weight: 100;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


/* 
Original image has a size of 375X250.
ASpect ratio as a percentage 66%.
800(height) / 610(width) = 0.66 === 66% */

.image {
    width: 100%;
    padding-top: 66%;
    background: url(images/hero-mobile.jpg) no-repeat center;
    background-size: cover;
}

p {
    text-align: center;
    line-height: 1.6rem;
    color: hsla(0, 36%, 70%, 0.932);
    margin: 20px auto;
    max-width: 95%;
}

.submit {
    text-align: center;
    max-width: 80%;
    margin: 50px auto;
}

.arrow input {
    position: relative;
    max-width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 150px;
    border: solid 1px #ccc;
    border-radius: 20px;
    /* margin: 50px auto; */
}

.arrow button {
    position: absolute;
    left: 280px;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: hsl(0, 93%, 84%);
    color: white;
    border: solid 1px #ccc;
    border-radius: 20px;
    /* margin: 50px auto; */
}